:root {
  --orange-ci: #F77F00;
  --green-ci: #008751;
  --white-ci: #FFFFFF;
}

/* Style spécial pour le mot "Abidjan" */
.brand-abidjan {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  color: var(--white-ci);
  text-shadow: 3px 3px var(--green-ci);
  transition: transform 0.3s ease;
  font-weight: bold;
  letter-spacing: -1px;
  padding: 0.5rem;
}
.brand-abidjan:hover {
  transform: scale(1.05);
}

/* Section Navbar */
.navbar {
  background: linear-gradient(to right, var(--orange-ci), var(--white-ci), var(--green-ci));
  color: #000;
}

/* section lien dans Navbar: accueil, destination, ...*/
.navbar .nav-link {
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  margin-left: 5px;
  transition: color 0.3s ease;
}
/* Effet au survol */
.navbar .nav-link:hover {
  color: var(--orange-ci);
}

/* section Footer */
footer {
  background-color: var(--green-ci);
  border-top: 2px solid var(--orange-ci);
  color: white;
  padding: 1rem 0;
/* text-transform: uppercase; */
  text-align: center;
}
.footer a:hover {
  color: var(--orange-ci);
}
.socialIcons a {
  transition: color 0.3s ease;
}

#btnTop {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: linear-gradient(to right, var(--orange-ci), var(--white-ci));
  color: var(--green-ci);
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 16px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}
#btnTop:hover {
  background-color: #008751;
}

/* section dropdown */
.dropdown-menu {
  list-style-type: none;
}

/* Rendre le bouton burger blanc */
.navbar-light .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.6); /* bordure blanche légèrement transparente */
}

/* Responsive Tweaks pour petit ecran*/
@media (max-width: 768px) {
  .brand-abidjan::after {
    content: " 🇨🇮";
    font-size: 1.2rem;
  }
  aside {
    border: none;
    padding-right: 0;
    margin-bottom: 1rem;
  }
  section {
    padding-left: 0;
  }
  .navbar .nav-link {
    margin-left: 0;
    margin-bottom: 0.5rem;
  }
}
