{% block sidebar %}
<!-- Sidebar Widgets Column -->
<div class="col-md-4">
    <div class="card my-3">
        <h5 class="card-header">À propos</h5>
        <div class="card-body">
            <p class="card-text">
                Ce blog est construit avec Django pour le backend, et utilise un thème Bootswatch pour une interface élégante.
                Retrouvez plus de contenu sur ma chaîne YouTube ou consultez la documentation officielle de Django.
            </p>
            <a href="https://www.youtube.com/@faizdev/videos" class="btn btn-danger mb-2" target="_blank">Ma chaîne</a>
            <a href="https://docs.djangoproject.com/fr/3.0/" class="btn btn-secondary" target="_blank">Documentation Django</a>
        </div>
    </div>
</div>
{% endblock sidebar %}
