{% extends "base.html" %}
{% load i18n %}
{% load static i18n %}
{% load static %}

{% block content %}
<div class="container my-5">
  <h1>{{ lieu.nom }}</h1>
  <p><strong>{% trans "Localisation" %} :</strong> {{ lieu.localisation }}</p>
  <p><strong>{% trans "Description" %} :</strong> {{ lieu.description }}</p>
  <p><strong>{% trans "Distance" %} :</strong> {{ lieu.distance_km }} km</p>
  <p><strong>{% trans "Durée estimée" %} :</strong> {{ lieu.duree }} h</p>
  {% if lieu.image %}
    <img src="{{ lieu.image.url }}" alt="{{ lieu.nom }}" class="img-fluid mt-3">
  {% endif %}
  <p class="mt-3"><a href="{% url 'autour_de_babi' %}" class="btn btn-outline-success">← {% trans "Retour" %}</a></p>
</div>
{% endblock %}
