{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
      <h2 class="mb-3">{{ destination.ville }}</h2>
      
      {% if destination.image %}
      <img src="{{ destination.image.url }}" 
           class="img-fluid rounded mb-3" 
           alt="{{ destination.ville }}">
      {% endif %}
      
      <p class="mb-4">{{ destination.description }}</p>

      {% if gallery %}
      <hr>
      <h4 class="mb-3">Galerie photo</h4>
      
      <div class="row">
        {% for image in gallery %}
        <div class="col-12 col-sm-6 col-md-4 mb-3">
          <img src="{{ image.image.url }}" 
               class="img-fluid rounded" 
               alt="Image de {{ destination.ville }}">
          {% if image.description %}
          <p class="mt-1 small text-muted">{{ image.description }}</p>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
