{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/agenda_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Hébergement à Abidjan</h2>
    <p>Trouvez votre lieu de séjour idéal parmi notre sélection.</p>
  
    {% for cat_label, items in categories.items %}
    <div class="row">
    <h2>{{ cat_label }}</h2>

    {% for h in items %}
    <div class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        {% if h.image %}
        <img src="{{ h.image.url }}" class="card-img-top" alt="{{ h.title }}">
        {% endif %}
        <div class="card-body d-flex flex-column">
        <p class="card-text"><a href="{% url 'hebergement_detail' h.slug %}">{{ h.title }}</a></p>
        <p class="card-text"><strong>Quarteir :</strong> {{ h.quartier }}</p>
        <p class="card-text">{{ h.content|truncatewords:20 }}</p>
        <p class="card-text"><strong>A partir de :</strong> {{ h.prix_min }} FCFA</p>
            {% if h.site_web %}
            <p><a href="{{ h.site_web }}" target="_blank">Visiter le site</a></p>
            {% endif %}
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
    {% empty %}
        <p>Aucun Hebergement disponible.</p>
    {% endfor %}
</div>
{% endblock %}

<p>Test de chargement de la page.</p>
<p>Nombre de catégories : {{ categories|length }}</p>

