{% extends 'base.html' %} 
{% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mt-3">
                <div class="site-heading">
                    <h3 class="site-heading my-4 text-white"> {% block title %} {{ object.title }} {% endblock title %}</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mt-4 mb-4">

      <div class="card"> 
      <div class="card-body">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3">
        {% endif %}
        <p class=" text-muted mb-2">{{ post.author }} | {{ post.created_on|date:"d M Y" }}</p>
        <div class="card-text ">{{ object.content | safe }}</div>
      </div>
      </div>
      {% if user == object.author or user.is_superuser %}
        <div class="mt-4">
          <a href="{% url 'post_edit' post.slug %}" class="btn btn-sm btn-outline-primary">✏️ Modifier</a>
          <a href="{% url 'post_delete' post.slug %}" class="btn btn-sm btn-outline-danger">🗑 Supprimer</a>
        </div>
      {% endif %}
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
  </div>
</div>


{% endblock content %}