{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/agenda_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Où manger à Abidjan</h2></h2>
    <p>Découvrez les meilleurs restaurants selon vos envies.</p>
  
    {% for cat_label, items in categories.items %}
    <div class="row">
    <h2>{{ cat_label }}</h2>

    {% for r in items %}
    <div class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        
        {% if r.image %}
        <img src="{{ r.image.url }}" class="card-img-top" alt="{{ r.title }}">
        {% else %}
        <img src="{% static 'images/default_restaurant.jpg' %}" alt="Image par défaut" class="card-img-top">
        {% endif %}

        <div class="card-body d-flex flex-column">
        <p class="card-text"><a href="{% url 'restaurants_detail' r.slug %}">{{ r.title }}</a></p>
        <p class="card-text"><strong>Quartier :</strong> {{ r.quartier }}</p>
        <p class="card-text">{{ r.content|truncatewords:20 }}</p>
            {% if r.site_web %}
            <p><a href="{{ r.site_web }}" target="_blank">Visiter le site</a></p>
            {% endif %}
      </div>
    </div>
    </div>
    {% endfor %}
    </div>
    {% empty %}
        <p>Aucun restaurant disponible pour le momment.</p>
    {% endfor %}
</div>
{% endblock %}

