{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/agenda_detail.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <a href="{% url 'hebergements_list' %}" class="btn btn-secondary mb-3">← Retour à la liste</a>
    
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <h2>{{ restaurant.title }}</h2>

            {% if restaurant.image %}
            <img src="{{ restaurant.image.url }}" alt="restaurant.title" class="img-fluid rounded mb-3">
            {% else %}
            <img src="{% static 'images/default_restaurant.jpg' %}" alt="Image par défaut" class="img-fluid rounded mb-3">
            {% endif %}
            <p class="mb-4"> <strong> Catégorie :</strong>{{restaurant.get_categorie_display}} </p>
            <p class="mb-4"> <strong>Quartier :</strong> {{restaurant.quartier}} </p>
            <p class="mb-4"> <strong>Adresse :</strong> {{restaurant.adresse}} </p>
            <p class="mb-4"> <strong>N° téléphone :</strong> {{restaurant.phone}} </p>
            <p class="mb-4"> {{restaurant.content}} </p>

            <p>
                {% if restaurant.site_web %}
                <p><a href="{{ restaurant.site_web }}" target="_blank" rel="noopener noreferrer"> Visiter le site officiel</a></p>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
