{% block sidebar %}

<!-- Sidebar Widgets Column -->
<div class="col-12 col-md-4 mt-3">
  <div class="card mb-4">
    <h5 class="card-header">À propos</h5>
    <div class="card-body">
      <p class="card-text">
        Cette application de blog est développée avec le framework <strong>Django</strong> côté backend, et utilise un thème <strong>Bootswatch</strong> pour le design. 
        Vous pouvez aussi découvrir ma chaîne YouTube :
      </p>
      <a href="https://www.youtube.com/@faizdev/videos" target="_blank" class="btn btn-danger btn-sm mb-2">Ma chaîne YouTube</a>
      <br>
      <a href="https://docs.djangoproject.com/fr/3.0/" target="_blank" class="btn btn-secondary btn-sm">Documentation Django</a>
    </div>
  </div>
</div>

{% endblock sidebar %}
