{% extends "base.html" %}
{% load static %}
 {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/agenda_list.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Villes & Patrimoines </h2>
    <p>Bienvenue à Abidjan, capitale économique et culturelle de la Côte d’Ivoire, 
      surnommée la perle des lagunes. Vibrante, contrastée et cosmopolite, 
      Abidjan est une ville en constante évolution, entre modernité urbaine et richesse patrimoniale.</p>

  <div class="row">
    {% for ville in villes %}
    <div class="col-12 col-sm-6 col-md-4 mb-4">
      <div class="card h-100 shadow-sm">
        {% if ville.image %}
        <img src="{{ ville.image.url }}" class="card-img-top" alt="{{ ville.title }}">
        {% endif %}
        <div class="card-body d-flex flex-column">

          <h5 class="card-title">
            {% if ville.slug %}
            <a href="{% url 'ville_detail' slug=ville.slug %}">{{ ville.title }}</a>
            {% else %}
            <span class="text-muted">{{ ville.title }}(pas de lien)</span>
            {% endif %}
        </h5>

          <p class="card-text">{{ ville.content|truncatewords:20 }}</p>
          <p class="text-muted mt-auto">
            <strong>Date :</strong> {{ ville.date|date:"d M Y" }}
          </p>

          {% if ville.slug %}
            <a href="{% url 'ville_detail' slug=ville.slug %}" class="btn btn-ivoire mt-auto">Voir plus &rarr;</a>
          {% else %}
            <span>pas de lien dispo</span>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <p>Aucun événement trouvé.</p>
    {% endfor %}

  </div>
{% endblock %}
